<?xml version="1.0" encoding="UTF-8"?>
<!-- if scan = true, changed configuration will be rebooted if debug = true, 
	will continuously check log back and print logs. Only need to check the program -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<!-- set properties -->
	<!-- levels ranks TRACE<DEBUG<INFO<WARN<ERROR. DEBUG, INFO, ERROR will be 
		stored for logging -->
	<property name="log.level" value="debug" />
	<property name="log.maxHistory" value="30" />
	<property name="log.filePath" value="${catalina.base}/logs/webapps" /> <!-- Tomcat root -->
	<property name="log.pattern"
		value="%d{yyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n" />
	<!-- #############  console configuration  ############# -->
	<appender name = "consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder><!-- Responsible for translating events to byte and writes to a file -->
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>
	<!-- ############################  DEBUG  ############################ -->
	<appender name="debugAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- File path -->
		<file>${log.filePath}/debug.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- File name -->
			<fileNamePattern>${log.filePath}/debug/debug.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<!-- Maximum saved history count -->
			<maxHistory>${log.maxHistory}</maxHistory>
		</rollingPolicy>
		<encoder> <!-- Layout -->
			<pattern>${log.pattern}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	<!-- ############################  INFO  ############################ -->
	<appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- File path -->
		<file>${log.filePath}/info.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- File name -->
			<fileNamePattern>${log.filePath}/info/info.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<!-- Maximum saved history count -->
			<maxHistory>${log.maxHistory}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	<!-- ############################  ERROR  ############################ -->
	<appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- File path -->
		<file>${log.filePath}/error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- File name -->
			<fileNamePattern>${log.filePath}/error/error.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<!-- Maximum saved history count -->
			<maxHistory>${log.maxHistory}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
		<!-- Debug level log -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	<!-- set target for logger to output. When additivity = true, allow display on console and 
	include debug level *NOTE* each class can only use one logger, not both root logger and logger -->
	<logger name="com.project1.o2o" level="${log.level}" additivity="true">
		<appender-ref ref="debugAppender"/>
		<appender-ref ref="infoAppender"/>
		<appender-ref ref="errorAppender"/>
	</logger>
	<!-- base case logger, only info or higher -->
	<root level="info">
		<appender-ref ref="consoleAppender"/>
	</root>
</configuration>
